# This is Git's per-user configuration file.
[user]
	name = Adrian
	email = adrian.kuhn@arcor.de
[core]
	autocrlf = input
	editor = nvim
[fetch]
	prune = true
[init]
	defaultBranch = main
[alias]
	sw = switch
	cm = commit -m
	br = branch
[push]
	autoSetupRemote = true
